@model Weather.WebUI.Models.LoginViewModel

@{
    ViewBag.Title = "Zaloguj się";
}

<h2 class="text-center">Zaloguj się</h2> <br />

@using (Html.BeginForm())
{
    <div class="form-group text-center">
        <label>Nazwa użytkownika:</label>
        @Html.TextBoxFor(m => m.Login, new { @class = "form-control center-block" })
        @Html.ValidationMessageFor(x => x.Login)
    </div>
    <div class="form-group text-center">
        <label>Hasło:</label>
        @Html.PasswordFor(m => m.Password, new { @class = "form-control center-block" })
        @Html.ValidationMessageFor(x => x.Password)
    </div>
    <input type="submit" value="Zaloguj się" class="btn btn-primary center-block" />
}

<br />
<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        @if (TempData["LoginError"] != null)
        {
            <div class="alert alert-danger" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span>
                @TempData["LoginError"]
            </div>
        }
    </div>
</div>